mixin video(info)
    a(href=`/videos/${info.id}`).videos-mixin
        div.video-mixin_thumb
        div.video-mixin_data
            span.video-mixin_title(href=`/videos/${info.id}`)=info.title
            div.video-mixin_meta 
                span #{info.owner.name} ∙ 
                span #{info.meta.views} 회

