extends base.pug
include mixins/videos

block content 
    h1 Home!
    h2 Welcome my youtube video
    ul
        each iter in videos
            +video(iter)
        else 
            li Sorry nothing found.
    input(placeholder="HWOW")
    button yes
